<div class="container">
  <div class="text">
    <h1>Хватит думать!<br /><span>Доставим заказ за 30 минут!</span></h1>
    <p>
      Мы гарантированно доставим вашу пиццу за 30 минут с момента оформления
      заказа. Если мы опоздаем даже на 1 минуту - вы получаете весь заказ
      бесплатно и ваучер на скидку на следующий заказ. Мы гордимся нашим
      сервисом и сделаем всё, чтобы наш клиент был доволен и не остался
      голодный!
    </p>
  </div>
  <div class="form">
    <form [formGroup]="deliveryForm" (ngSubmit)="onSubmit()">
      <div class="form-item">
        <input 
          [ngClass]="{invalid: _name?.touched && _name?.errors?.['required']}" 
          (input)="onInputName($event)"
          type="text" 
          formControlName="name"
          placeholder="Ваше имя" />
        <div *ngIf="_name?.touched && _name?.errors?.['required']" class="validations">
          <small>Заполните поле</small>
        </div>
      </div>
      <div class="form-item">
        <input
          [ngClass]="{invalid: _adress?.touched && _adress?.errors?.['required']}" 
          type="text" 
          formControlName="adress" 
          placeholder="Адрес доставки" />
        <div *ngIf="_adress?.touched && _adress?.errors?.['required']" class="validations">
          <small>Заполните поле</small>
        </div>
      </div>
      <div class="form-item">
        <input 
          [ngClass]="{invalid: _tel?.touched && _tel?.errors?.['required']}" 
          type="tel" 
          formControlName="tel" 
          placeholder="Телефон" max="12"/>
        <div *ngIf="_tel?.touched && _tel?.errors?.['required']" class="validations">
          <small>Заполните поле</small>
        </div>
        <div *ngIf="_tel?.touched && _tel?.errors?.['pattern']" class="validations">
          <small>Номер должет содержать от 7 до 15 цифр</small>
        </div>
      </div>

      <button class="btn btn-dark" type="submit"  [disabled]="submitted">Оформить заказ</button>
    </form>
  </div>
  <div class="img">
    <img src="./../../../../assets/icons/pizza_big_footer.png" alt="">
  </div>
</div>
<app-alert 
  *ngIf="viewAlertSuccess"
  [delay]="3000"
  [type]="'success'"
  [text]="textAlertSuccess"
  (close)="viewAlertSuccess = false">
</app-alert>
<app-alert 
  *ngIf="viewAlertErr"
  [delay]="3000"
  [type]="'error'"
  [text]="textAlertError"
  (close)="viewAlertErr = false">
</app-alert>