<div class="container">
  <div class="info">
    <div class="title">
      <h1>Самая вкусная пицца в мире<br><span>только в Pizza Cheff</span></h1>
    </div>
    <div class="benefits">
      <div class="benefits-item">
        <div class="icon">
          <img src="./../../../../assets/icons/check_2.png" alt="" />
        </div>
        <div class="text">
          <h3>Лучшее тесто</h3>
          <p>
            Мы создаем тесто только из отборной итальянской муки наивысшего
            качества
          </p>
        </div>
      </div>
      <div class="benefits-item">
        <div class="icon">
          <img src="./../../../../assets/icons/check_3.png" alt="" />
        </div>
        <div class="text">
          <h3>гарантия качества</h3>
          <p>
            Наша пиццерия получила множество наград и признаний по всему миру
          </p>
        </div>
      </div>
      <div class="benefits-item">
        <div class="icon">
          <img src="./../../../../assets/icons/check_4.png" alt="" />
        </div>
        <div class="text">
          <h3>лучшие повара</h3>
          <p>Пиццы готовят самые профессиональные итальянские повара</p>
        </div>
      </div>
      <div class="benefits-item">
        <div class="icon">
          <img src="./../../../../assets/icons/check_1.png" alt="" />
        </div>
        <div class="text">
          <h3>отборные рецепты</h3>
          <p>Мы используем рецепты от мировых лидеров в изготовлении пиццы</p>
        </div>
      </div>
    </div>
    <button>Выбрать пиццу</button>
  </div>
  <div class="pizza-img">
    <img src="./../../../../assets/icons/pizza_big.png" alt="" />
  </div>
</div>
